/* Apply background image only to the Weather page */
.weather-page {
    background-image: url('../../assets/ECOM_img/bg-img.jpg'); /* Update path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Weather card */
.weather {
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

/* Weather icon */
.weather-icon {
    width: 150px;
    margin: 30px 0;
}

/* Temperature and Location */
.temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 40px;
}

/* Weather Data */
.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

/* Error message */
.error {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}
